.cart-summary {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    justify-content: space-between;
    align-items: left;
    line-height: 30px;
  }
  
  .cart-summary p {
    margin: 0;
    font-size: 14px;
  }
  
  .cart-summary .total-cost {
    font-weight: bold;
    font-size: 14px;
    color: rgb(35, 21, 53);
  }

.increase-price {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 3px;
  margin-right: 55px;
  width: 90%;
  height: 25px;
  align-items: center;

}